body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: #1f0459;
  font-family: Manrope;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 540px;
  border-radius: 15px;
  padding: 0px 45px;
  margin: 20px;

  background-color: #6d49f2;
  box-shadow: 0.5px 1px 1px 1px white;
}

.card .advice {
  margin: 45px 0px 25px;

  text-shadow: 0px 2px 5px black;
  letter-spacing: 3px;
  font-size: 14px;
  color: white;
}

.card .description {
  text-align: center;

  text-shadow: 0px 2px 5px black;
  font-size: 27px;
  font-weight: 700;
  color: white;
}

.card .divider {
  margin-top: 40px;
}

.card .dice {
  content: "";
  width: 65px;
  height: 65px;
  margin-top: 3px;

  border: none;
  border-radius: 50%;
  transform: translateY(50%);
  transition: ease-in-out 0.3s;

  background-color: white;
}

.card .dice:hover {
  box-shadow: 0px 0px 25px 10px #8a00ff;
}
